# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.67

Options +FollowSymLinks   
      
    IndexIgnore */*   
      
    RewriteEngine on    
    # if a directory or a file exists, use it directly   
    RewriteCond %{REQUEST_FILENAME} !-f  
    RewriteCond %{REQUEST_FILENAME} !-d  
      
    RewriteRule . index.php  